[Desktop Entry]
Icon=text-plain
Name=pearOS_NiceC0re_Layout.layout.latte
Type=Link
URL[$e]=file:$HOME/Desktop/pearOS_NiceC0re_Layout.layout.latte
X-KDE-LastOpenedWith=org.kde.kate
