[Desktop Entry]
Name=pearOS-dark
X-KDE-PluginInfo-Author=Pear Software and Sercices
X-KDE-PluginInfo-Email=alex@pear-software.com
X-KDE-PluginInfo-Name=pearOS-dark
X-KDE-PluginInfo-Version=2025.10.27
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=PPLv2
X-KDE-PluginInfo-EnabledByDefault=true
