[Desktop Entry]
Name=pearOS-Light-1.25x
X-KDE-PluginInfo-Author=Pear Software and Services
X-KDE-PluginInfo-Email=alex@pear-software.com
X-KDE-PluginInfo-Name=pearOS-Light-1.25x
X-KDE-PluginInfo-Version=2025.10.27
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=PPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
