[Desktop Entry]
Name=6
X-KDE-PluginInfo-Name=6
X-KDE-PluginInfo-Author=Andrei Muntean
X-KDE-PluginInfo-Email=contact@andreimuntean.xyz
X-KDE-PluginInfo-License=GPL3.0
